# Librerias

In [97]:
import os, shutil
import numpy as np
import pandas as pd

from tkinter import *
from tkinter.messagebox import askokcancel

from IPython.display import clear_output

import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px

import plotly.io as pio
pio.renderers.default = 'browser'

import importlib

import rai_exp_2023_sivarita as exp
importlib.reload(exp)

import Sivarita
importlib.reload(Sivarita)

Cargar datos

In [98]:
path = "./_data_/Usuarios/Alberto_Villegas/"

df_data = exp.loadData(path)
df_data.sample(5)

,usuario,sesion,actividad,tipo_actividad,upper_size,fore_size,num_rep,dataFrame
10,Alberto_Villegas,2023_3_27_12_57_55,TouchGame,CABEZA,290.0,280.0,4.0,q1 q2 q3 ...
12,Alberto_Villegas,2023_3_27_13_0_19,TouchGame,RODILLA,290.0,280.0,4.0,q1 q2 q3 ...
14,Alberto_Villegas,2023_3_27_13_4_37,TouchGame,NARIZ,290.0,280.0,4.0,q1 q2 q3 ...
0,Alberto_Villegas,2023_3_27_12_38_19,MoveGlass,BEBER,290.0,280.0,4.0,q1 q2 q3 ...
13,Alberto_Villegas,2023_3_27_13_1_43,TouchGame,NARIZ,290.0,280.0,4.0,q1 q2 q3 ...

Procesar parámetros

In [99]:
df_params = exp.process_all_params(df_data)
df_params.sample(5)

,session,activity,tipo_actividad,MAX_Q1,MAX_Q2,MAX_Q3,MAX_Q4,MAX_Q5,MAX_Q6,MAX_Q7,MIN_Q1,MIN_Q2,MIN_Q3,MIN_Q4,MIN_Q5,MIN_Q6,MIN_Q7
2,2023_3_27_12_42_11,Move_Cube,DEPOSITAR,41.686240,76.733754,-19.428910,-7.490724,124.535092,-1.463036,41.152595,-32.425938,37.522726,-96.316209,-54.519970,41.772987,-25.490215,-23.048186
6,2023_3_27_12_50_57,PaintForms,TRIÁNGULO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2023_3_27_12_38_19,MoveGlass,BEBER,58.264530,73.422556,6.619386,29.094443,99.292539,5.981032,38.314616,-7.600700,37.249629,-77.036681,-40.057970,32.986000,-23.048788,-16.099713
13,2023_3_27_13_1_43,TouchGame,NARIZ,1085.733353,473.089280,620.729659,88.560655,722.293790,88.182270,422.695291,-1552.311090,-53.761413,-1740.800538,-83.489029,-361.194181,-782.767138,-345.141593
1,2023_3_27_12_40_21,MoveGlass,LLENADO,45.364867,80.799044,-16.880251,-3.719760,113.302602,0.396425,38.803323,8.598753,35.373277,-73.694004,-57.915142,22.578894,-27.468664,-21.014515